/* Contato.css */

#contato{
    text-align:center;
}


.contato p{
    margin:30px auto;
    max-width:700px;
    background:#476f60;
    color:white;
}

.contato-botoes{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

/* reaproveita .btn do components.css */
.btn-contato{
    min-width:220px;
    background:white;
    color:var(--verde);
    box-shadow:var(--sombra);
}

.btn-contato img{
    width:24px;
    height:24px;
}

.destaque{
    background:var(--verde);
    color:white;
}
.destaque{
    background:var(--bege);
    color:white;
}

.destaque img{
    filter:brightness(0) invert(1);
}

@media (max-width:768px){

    .contato-botoes{
        flex-direction:column;
        align-items:center;
    }

    .btn-contato{
        width:100%;
        max-width:340px;
    }
}