.funcionalidades{

    padding:100px 10%;

    background:#f8f6f2;

}

/* =========================== */

.funcionalidade{

   text-align:center;
    display:flex;
    flex-direction:column;
    height:100%;

}

/* =========================== */

.funcionalidade img{

    width:150px;

    height:150px;

    object-fit:contain;

    margin:0 auto 25px;

    transition:var(--transition);
    filter:drop-shadow(0 8px 20px rgba(0,0,0,.15));

}

.funcionalidade:hover img{

    transform:scale(1.50);

}

/* =========================== */

.funcionalidade h3{

    margin-bottom:15px;

}

/* =========================== */

.funcionalidade p{

    line-height:1.7;

}

/* =========================== */

@media(max-width:768px){

    .funcionalidade img{

        width:85px;

        height:85px;

    }

}