.sobre{
    padding:100px 10%;
    background:var(--bege-claro);
}

#sobre .section-title{
    max-width:900px;
    margin:auto;
}

#sobre p{
    margin-bottom:22px;
    line-height:1.9;
    text-align:center;
}